<footer class="footer">
  <% if current_user %>
    Logged in as <%= current_user.email %>
  <% else %>
    Not logged in
  <% end %>
  <!-- <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <% if current_user %>
        <li><%= link_to "Log out", session_path("current"), method: "delete" %></li>
      <% else %>
        <li><%= link_to "Log in", new_session_path %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
    </ul>
  </nav> -->
</footer>