%header.navbar.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Erica's List", '/', id: "logo"
      .nav-collapse.pull-right
        %ul.nav
          %li= link_to "About",   '/about'
          %li= link_to "Contact", '/contact'
          - if current_user
            / -if !current_page?(url_for(:controller => 'users', :action => 'show'))
            -if !controller.controller_name == 'users'
              %li= link_to "Profile", current_user

            %li= link_to "Log out", session_path("current"), method: "delete"
          - else
            %li= link_to "Log in", new_session_path
            %li= link_to "Sign up", new_user_path

/ current_page?(url_for(:controller => 'pages', :action => 'main')) 
/- if controller.controller_name == 'pages' && controller.action_name == 'main'