%header.navbar.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Erica's List", '/', id: "logo"
      .nav-collapse.pull-right
        %ul.nav
          %li= link_to "All Posts", posts_path unless current_page? posts_path
          / need to remove this logic from the view and have user controller pass array with
          / the dynamic links to be displayed in the view
          - if current_user
            %li= link_to "Create Post", new_post_path unless current_page? new_post_path 
            %li= link_to "Profile", current_user unless current_page? current_user
            %li= link_to "Log out", session_path("current"), method: "delete"
          - else
            %li= link_to "Log in", new_session_path
            %li= link_to "Sign up", new_user_path
